<!DOCTYPE html>
<html>
<head>
  <title>To-Do lists</title>
  <metha name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">

  <div class="row">
    <div class="col-md-7 col-md-offset-2 jumbotron">
      <div class="text-center">
        <h1>{% block header_text %}{% endblock %}</h1>
        <form method="POST" action="{% block form_action %}{% endblock %}">
          <input name="item_text" class="form-control input-lg" id="id_new_item" placeholder="Enter a to-do item"/>
            {% csrf_token %}
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7 col-md-offset-2">
      {% block table %}
      {% endblock %}
    </div>
  </div>

</div>

<!-- 
<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>Hi</p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>
 -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" media="screen">

  <!-- Optional theme -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>